.o_content .o_form_view .o_form_sheet, .modal-content .o_form_view .o_form_sheet {
  max-width: calc(100% - 32px);
  overflow-x: auto;
}

.o_list_record_copy{
    width: 1px;  // to prevent the column to expand
}

.o_list_record_copy button {
    padding: 0px;
    background: none;
    border-style: none;
    display: table-cell;
    cursor: pointer;
}
.o_list_record_copy_header {
    width: 32px;
}
.o_list_view .o_list_table tbody > tr > td:not(.o_list_record_selector):not(.o_handle_cell) {
    white-space: normal !important; 
}

table.o_list_table > tbody .o_optional_columns_dropdown_toggle.fa.fa-ellipsis-v {
    display: none;
}
