/*固定标题行*/
.o_list_view .table-responsive .o_list_table thead {
    z-index: unset !important;
}

.o_list_view .table-responsive .o_list_table thead, .o_list_view .table-responsive .o_list_table thead tr:nth-child(1) th {
    position: sticky;
    top: 0;
    z-index: 1;
}

/*调整标题行的背景色，与固定标题行无关，不喜欢可以删除*/
.o_list_view .table-responsive .o_list_table thead th {
    background-color: #f5f5f5;
    border-bottom: 1px solid #dee2e6;
    border-top: none;
}
